body {
  padding-top: 80px;
  background-color: #fdf6f0;
  font-family: 'Courier New', Courier, monospace;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-size: xx-large;
  font-weight: bold;
  position: relative;
}

body::after {
  content: "";
  background-image: url('/assets/Flour.jpeg');
  background-size: cover;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  z-index: -1;  
}



h1, h2, h3, h4, h5, h6 {

  color: #080808;
}

.navbar {
  
  background-color: #FFE0B2;
  border-bottom: 1px solid #FFCC80;
  background-image: url('/assets/Donut.jpeg');
  background-size: cover;
  background-position: center;
}

.navbar-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.5);
}

.navbar .nav-link {
  color: #5D4037;
}

.navbar .nav-link:hover {
  color: #3E2723;
}

.container {
  margin: auto;
  max-width: 1200px;
  padding: 2em;
}

#footer {
  display: flex;
  align-items: bottom;
  justify-content: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  margin-top: 50px;
  text-align: center;
  background-color: #FFCC80;
  color: #5D4037;
  height: 30px;
}


#navfont {
  font-size: 40px;
  font-weight: bold;
  color: #B7245C;
  z-index: 1000000;
  padding: 3px 15px;
  border-radius: 3px;
}

#navfont:hover {
  color: #5D4037;
}

#navfont:active {
  color: #5D4037;
}

#menu-button {
  font-weight: bold;
  color: #000000;
  z-index: 1000000;
  padding: 3px 15px;
  border-radius: 3px;
  border-width: 2px;
  border-color: #000000;
}

.custom-nav-item {
  padding: 15px 0;
  font-weight: bold;
}

.custom-nav-item .nav-link {
  color: #5D4037;
}

.custom-nav-item .nav-link:hover {
  color: #B7245C;
}

.charity-link {
  color: #FFCC80;
}

.charity-link:hover {
  color: #FFB74D;
}
