body {
  background-color: #fdf6f0;
  font-family: 'Courier New', Courier, monospace;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: url('/assets/Flour.jpeg');
  background-size: cover;
  font-size: xx-large;
  font-weight: bold;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display', serif;
  color: #5D4037;
}

.navbar {
  background-color: #FFE0B2;
  border-bottom: 1px solid #FFCC80;
  background-image: url('/assets/Donut.jpeg');
  background-size: cover;
}

.navbar .nav-link {
  color: #5D4037;
}

.navbar .nav-link:hover {
  color: #3E2723;
}

.container {
  margin: auto;
  max-width: 1200px;
  padding: 2em;
}

#footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  margin-top: 50px;
  text-align: center;
  background-color: #FFCC80;
  color: #5D4037;
}