@{
    Layout = "_Layout";
}

@model SweetTreat.Models.Flavor

<div class="container">
    <h2>Add a Treat</h2>

    <form method="post" class="form">
        @Html.HiddenFor(model => model.FlavorId)

        <div class="form-group">
            <label for="TreatId">Treat</label>
            @Html.DropDownList("TreatId", null, "-- Select Treat --", new { @class = "form-control" })
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Add</button>
    </form>

    <div class="mt-3">
        @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-secondary" })
    </div>
</div>
