@{
    Layout = "_Layout";
}

<h2 class="login-title">Profile</h2>
<hr />

@if (User.Identity.IsAuthenticated)
{
    <form class="form-group">
        <div class="login-container">
            <p class="login-message">Hello @User.Identity.Name!</p>
            @using (Html.BeginForm("LogOff", "Accounts"))
            {
                <button type="submit" class="btn btn-primary">Log out</button>
            }
        </div>
    </form>
}
else
{
    <div class="authentication-links">
        <p>@Html.ActionLink("Register", "Register")</p>
        <p>@Html.ActionLink("Log in", "Login")</p>
    </div>
}

<p class="home-link">@Html.ActionLink("Home", "Index", "Home")</p>
